## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## Rider
.idea/
*.sln.iml
